* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.backward__arrow {
  font-size: 30px;
  cursor: pointer;
}

.movie__detail__container {
  display: flex;
  margin-top: 30px;
  max-height: 70%;
}
.movie__detail__image {
  max-height: 345;
}
.movie__detail__data {
  margin-left: 20px;
}
.movie__detail__title {
  font-size: 32px;
  margin-top: 8px;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  border-left: 5px solid rgb(58, 235, 58);
  padding-left: 10px;
}

.movie__detail__year {
  font-size: 26px;
  margin-top: 20px;
  color: grey;
}
.detail__genres__container {
  display: flex;
  overflow-x: auto;
  height: 32px;
  margin-top: 20px;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 12px;
}

.detail__genres__container::-webkit-scrollbar {
  display: none;
}
.detail__genres__genre {
  list-style: none;
  background-color: rgb(204, 245, 204);
  border-radius: 16px;
  color: rgb(56, 61, 61);
  margin-right: 8px;
  font-size: 16px;
  display: inline-block;
  padding: 8px;
  white-space: nowrap;
}

.movie__detail__summary {
  font-size: 22px;
  padding-top: 18px;
  line-height: 26px;
  color: rgb(88, 84, 84);
  overflow-y: auto;
  max-height: 210px;
}
