* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.profile__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile__info__container {
  width: 100%;
  display: flex;
  height: 256px;
}
.profile__intro__container {
  width: 40%;
  margin: 2%;
  padding: 1%;
  background-color: rgba(184, 178, 210, 0.26);
  border-radius: 20px;
  box-shadow: grey 0px 6px 20px 0px;
}
.profile__IDcard {
  text-align: center;
}

.profile__context__divider {
  height: 3px;
  background: linear-gradient(90deg, rgb(193, 176, 209), rgb(61, 198, 223));
  width: 106%;
  position: relative;
  left: -10%;
}
