* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.small__sidebar__container {
  width: 60px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  border-top-left-radius: 10px;
  overflow-y: auto;
}

.small__profile__Box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
}

.small__profile__circle__image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0px 10px 7px rgb(196, 191, 191);
}

.small__sidebar__firstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.small__sidebar__context {
  width: 100%;
  height: 30px;
  align-items: center;
  margin-bottom: 20px;
  color: grey;
  cursor: pointer;
  text-align: center;
}

.small__sidebar__icon {
  width: 26px;
  height: 26px;
}
.small__sidebar__clicked {
  color: black;
  border-bottom: 3px solid rgb(92, 187, 211);
}

.sidebar__container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
}

.profile__Box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
  padding: 30px 20px 0px 20px;
}

.profile__circle__image {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-top: 30px;
  box-shadow: 0px 10px 7px rgb(196, 191, 191);
  margin-bottom: 15px;
}

.sidebar__firstSection {
  display: flex;
  flex-direction: column;
}
.sidebar__firstSection .menu {
  color: grey;
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.sidebar__context {
  display: flex;
  align-items: center;
  min-height: 30px;
  font-size: 14px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 26px;
  cursor: pointer;
}
.sidebar__context:hover {
  color: black;
  border-left: 3px solid rgb(92, 187, 211);
}

.sidebar__clicked {
  color: black;
  border-left: 3px solid rgb(92, 187, 211);
}
.sidebar__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.activity__counts {
  margin-left: 40px;
  background-color: rgb(165, 161, 161);
  width: 20px;
  height: 14px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 10px;
}
