* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input {
  border: none;
  outline: none;

  background-color: rgba(0, 0, 0, 0);
}
select {
  border: none;
  outline: none;
  color: grey;
  background-color: rgba(0, 0, 0, 0);
}

.stickyHeader__container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 5px;
  min-width: 300px;
}
.search__dummy {
  border-bottom: 3px solid rgb(187, 182, 182);
  display: flex;
  align-items: center;
  color: grey;
  padding-bottom: 6px;
}
.search__icon {
  font-size: 24px;
  margin-right: 6px;
}

.search {
  font-size: 16px;
}
.sort__by {
  color: grey;
  font-size: 14px;
}

@media screen and (max-width: 780px) {
  .search__icon {
    font-size: 14px;
    margin-right: 4px;
  }

  .search {
    font-size: 12px;
  }

  .search__dummy {
    border-width: 2px;
    padding-bottom: 2px;
  }
  select {
    font-size: 12px;
  }
}
